*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

body {
  font-family: Roboto;
  background-color: #EDE7DB;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #013563;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.header .wrapper {
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  font-family: Roboto;
  font-weight: bold;
  font-size: 50px;
  color: #EDE7DB;
}

.content {
  margin-top: 40px;
}
.content .wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content form {
  background-color: #013563;
  padding: 40px;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  width:100%;
  max-width: 400px;
}


.form_title {
  font-family: Roboto;
  color: #EDE7DB;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.content label{
  color:#EDE7DB;
  margin-bottom: 15px;
}

.content input {
  margin-bottom: 15px;
  background-color: #EDE7DB;
  border-radius: 5px;
  border-width: 0px;
  padding: 5px;
}

.content input:focus {
  border: none;
  color: #013563;
}
