{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="{% static 'app/styles/main.css' %}" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="logo">
                Kwitter
            </div>
        </div>
    </header>

    <main>
        <div class="wrapper">
            <form class="change_form" action="{% url 'change_username' %}" method="post">
                {% csrf_token %}
                <input class="new_username" type="text" name='new_username' value="{{ user.username }}"/>
                <button class="button_change" type="submit">Подтвердить</button>
            </form>

            <form class="change_bio" action="{% url 'change_bio' %}" method="post">
                {% csrf_token %}
                <input class="new_bio" type="text" name='new_bio' value="{{ user.profile.bio }}"/>
                <button class="button_change" type="submit">Подтвердить</button>
            </form>
        </div>
    </main>

</body>
</html>